html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    font-size: 200%;
}

img {
    max-width: 100%;
}

section {
    width: 100vw;
    height: 100vh;
    padding: 0 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.section--invert {
    color: #ffffff;
    background-color: #000000;
}

.section--img-text {
    justify-content: center;
    flex-direction: row;
}