/* Basics */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Button */
button {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
    color:#ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
}
button:hover {
    background-color:gray;
}
button.button--primary {
    background-color:#4566c7;
}
button.button--margin-right {
    margin-right: 0.5rem;
}

/* Style the page container */
.container {
    margin: 100px auto;
    padding: 40px;
    width: 50%;
    min-width: 300px;
}

.container--text-center {
    text-align: center;
}

/* Style type */

.h1--display {
    font-size: 2.5em;
}

/* Hide elements but not for screen readers */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4566c7;
}

/* Menu */

.nav {
    position: fixed;
    top: 0;
    right: 0;
}

.nav li {
    float: left;
    margin: 0;
    padding: 0 1em 0 0;
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
}